@import "tailwindcss";

*{
  font-family: Outfit; 
}
<<<<<<< HEAD
@layer utilities{
  .gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
=======

@layer utilities {
  .gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    justify-content: center;

>>>>>>> f55d68a80a1c84120c7554afb2ba9de194f49b30
  }
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
